<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error404</title>
</head>
<body>
    <div class="error">
        <h1>ooooooooooooops </h1></div>
        <h2>page not founds</h2>
        <img src="" alt="notfound">
    </div>
    
</body>
</html>