<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creat</title>
</head>
<body>
    <div class="create-blog content">
        <form>
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title" required></br></br></br></br>
          <label for="snippet">Blog snippet:</label>
          <input type="text" id="snippet" name="snippet" required></br></br></br></br>
          <label for="body">Blog body:</label>
          <textarea id="body" name="body" required></textarea></br></br></br>
          <button>Submit</button>
        </form>
      </div>
</body>
</html>